In [1]:
a=3
if a>1:
    print("광섭")

광섭

In [2]:
for a in [1,2,3]:
    print(a)

1
2
3

In [4]:
i=0
while i<3:
    i=i+1
print(i)

3

In [5]:
def sum(a,b):
    return a+b
print(sum(3,100))

103

# 사칙연산

In [7]:
#제곱-> **
a=3
b=4
a**b
#3^4=81

81

In [11]:
#나머지 반환-> %
print(7%3)
print(7/3)
#7/3=2+1/3

1
2.3333333333333335

In [12]:
#나눗셈 후 소수점 아랫자리 버림 -> //
print(7/3) #일반 나누기
print(7//3) #소수점 버리기
#2.3333333333333335
#2

2.3333333333333335
2

# 문자열 자료형

In [14]:
"Hello World"
'Python is fun'
"""Life is too short, You need Python"""
'''Life is too short, You need Python'''
#문자열을 감싸는 4가지 방법

'Life is too short, You need Python'

In [16]:
#문자열 안에 작은 따옴표나 큰따옴표 포함할때
#내부와 외부를 서로 다른 따옴표 구성
#\(백슬래쉬)를 사용
food='Python\s favorite food is perl'
say="\"Python is very easy.\" he says."
print(food)
print(say)

Python\s favorite food is perl
"Python is very easy." he says.

In [21]:
#여러 줄인 문자열을 변수에 대입
#\n
#따옴표 3개
multiline="Life is too short\nYou need python"
print(multiline)
multiline2='''
Life is too short
You need python
'''
print(multiline2)

Life is too short
You need python

Life is too short
You need python

# 이스케이프코드 (Escape code)
### \n: 문자열 안에서 줄을 바꿈
### \t: 문자열 사이에 탭 간격을 줄 때 사용
### \\: 문자\를 그대로 표현 할 때 사용
### \': 작은 따옴표(')를 그대로 표현 할 때 사용
### \": 큰 따옴표(")를 그대로 표현 할 때 사용
### \r: 캐리지 리턴(줄바꿈 문자, 현재 커서를 가장 앞으로 이동)
### \f: 폼 피드(줄바꿈 문자, 현재 커서를 다음 줄로 이동)
### \a: 벨 소리(출력 시 스피커에서 알람소리가 난다) -> import os;os.system('\a')
### \b: 백 스페이스
### \000 : 널 문자(null)

# 문자열 연산하기

In [44]:
#문자열 더해서 연결
head= "Python"
tail=" is fun!"
head+tail

'Python is fun!'

In [45]:
# 문자열 곱하기
#head*tail -> 문자열*문자열 에러
a="python"
b=2
a*b

'pythonpython'

In [46]:
#문자열 곱하기 응용
print("=" * 50 )
print("My Program")
print("=" * 50 )
#프로그램이나 모델 등 상단에서 활용

==================================================
My Program
==================================================

# 문자열 인덱싱과 슬라이싱

In [58]:
#문자열 인덱싱
a="Life is too short, You need Python"
"""0         1         2         3   """ 
"""0123456789012345678901234567890123"""

len(a)
print(a[20])
print(a[10])
print(a[20]==a[10])
print(a[-1]) #뒤에서 1번째
print(a[-0]) #0과 -0은 같은 값 상식적으로 0과 -0은 같은 값

o
o
True
n

In [67]:
#문자열 슬라이싱
a="Life is too short, You need Python"
"""0123456789012345678901234567890123"""
"""0         1         2         3   """ 

print(a[1:4])
print(a[:4])
print(a[4:6])
#a[4:6]의 범위는 4 <= number < 6
#끝번호 포함하지 않음
print(a[3:len(a)-5])
print(a[:])# 전범위 출력
a[18:-8] #18번 문자 부터 뒤에서 8번째 문자까지

ife
Life
 i
e is too short, You need P
Life is too short, You need Python

' You nee'

In [69]:
# 슬라이싱으로 문자열 나누기
a= "20010331Rainy"
date=a[:8] #8번 문자 미포함
weather=a[8:] #8번 문자 포함
print(date)
print(weather)

20010331
Rainy

In [77]:
# 문자열 바꾸기
a="pithon"
print(a[1])
#a[1]="y"
print(a)
#에러 발생
#문자열은 직접 바꿀 수없음
b=a[0]+"y"+a[2:]
b
#앞 뒤 인덱싱을 통해 문자 재조합

i
pithon

'python'

# 문자열 포매팅

In [80]:
#숫자 바로 대입
"i eat %d apples."% 3
#숫자를 넣고 싶은 곳에 %d를 넣고 문자열 포맷 코드로 따로 변수 처럼 전달

'i eat 3 apples.'

In [81]:
#문자열 바로 대입
"i eat %s apples." % "five"
#문자를 넣고 싶은 곳에 %s를 미리 넣고 문자열 포맷 코드로 따로 변수 처럼 전달

'i eat five apples.'

In [83]:
#숫자 값을 나타내는 변수로 대입
number=3
"i like number %d" % number
#문자열 포맷 코드에 변수를 넣어 전달 가능

'i like number 3'

In [85]:
#2개 이상의 값 넣기
number=10
day=20
"i ate %d apples. so i was sick for %d days." % (number,day)
#2개 이상의 변수를 넣고 싶으면 % 다음 괄호  안에 콤마로 구분하여 각각 전달

'i ate 10 apples. so i was sick for 20 days.'

# 문자열 포맷 코드
### %s : 문자열
### %c : 문자 1개(character)
### %d : 정수
### %f : 부동 소수(float-point)
### %o : 8진수
### %x :16진수
### %% : Literal % (문자 '%' 자체)

In [ ]:
# %s 는 어떤 값이든 변환해 넣을 수 있다.
# %s 는 어떤 값이든 문자열로 바꾼다

In [86]:
# 포매팅 연산자 %d와 특수문자 %를 같이 쓸 때는 %%를 쓴다

# "Error is %d%."%98 -> "Error is 98%"를 의도하였지만 에러 발생

#포매팅 연산자와 %가 같이 나올 경우 반드시 %%를 사용하여야 함

"Error is %d%%"%98

'Error is 98%'

# 포맷코드와 숫자 함께 사용하기

In [90]:
#정렬과 공백
print("%10s"% "hi")
#전체 길이가 10인 문자열의 공백에 hi를 넣음
# hi가 2글자 임으로 공백은 길이가 8
print("%-10sjane." % "hi")
#문자열의 길이가 10인 것 중에 뒤에 공백을 넣는다 즉 문자가 앞으로 감

        hi
hi        jane.

In [95]:
# 소수점 표현하기
#소수점 4자리 표현
print("%0.4f" % 3.14123123123)
#길이가 10인 문자열에 소수점 4자리까지 표현
print("%10.4f" % 341.1234444223)
# 공백길이3+정수부분 3자리 소수점 4자리
# 소수점도 길이에 포함

3.1412
  341.1234

# 문자열 관련 함수들

In [96]:
#특정 문자 갯수 세기(count)
a="subbb"
a.count("b")

3

In [97]:
#특정 문자 위치 알려주기1
a="queen"
a.find("e")
#처음 "e"가 나온 위치를 알려줌
#만약 문자를 포함하지 않는다면 -1 반환

2

In [101]:
#특정 문자 위치 알려주기2
a="Life is too short"
# a.index("a")없으면 에러
a.index("o")
#o가 처음 나온 위치 반환

9

In [102]:
#문자열 삽입
a=","
a.join('abcd')

'a,b,c,d'

In [108]:
#소문자를 대문자로 바꾸기(upper)
a="hi"
b=a.upper()
print(b)
c=b.lower()
print(c)

HI
hi

In [109]:
#왼쪽 공백 지우기(lstrip)
a=" hi"
a.lstrip()

'hi'

In [110]:
#오른쪽 공백 지우기(rstrip)
a="hi "
a.rstrip()

'hi'

In [111]:
#양쪽 공백 지우기(strip)
a="   hi   "
a.strip()

'hi'

In [113]:
#문자열 바꾸기
a="money is best"
a.replace("money","happiness")
#대상 문자,새로운 문자

'happiness is best'

In [116]:
#문자열 나누기
a="Life is too short"
print(a.split())
# split의 기본값은 공백 단위로 문자를 자름
a="a:b:c:d"
print(a.split(":"))
#split은 반환값을 리스트로 반환

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

# 고급 문자열 포매팅

In [129]:
#숫자 바로 대입 하기
print("i eat {0} apples".format(32))
print("i eat {0} apples".format("eight"))
#{0}에 숫자 및 문자를 바로 대입

#숫자 값을 가진 변수로 대입하기
number=3
print("i eat {0} apples".format(number))

#2개 이상의 값 넣기
number=10
day="mon"
print("i was sick till for {0} days til last {1}day".format(number,day))

#변수 이름으로 넣기(좀더 직관적일듯)
print("i was sick till for {number} days til last {day}day".format(number=10,day="mon"))

#인덱스와 이름을 혼용해서 넣기
print("i was sick till for {0} days til last {day}day".format(10,day="mon"))

i eat 32 apples
i eat eight apples
i eat 3 apples
i was sick till for 10 days til last monday
i was sick till for 10 days til last monday
i was sick till for 10 days til last monday

In [144]:
#10개의 문자열 중의 왼쪽에 문자를 넣음
print("{0:<10}".format("hi")+"1")
#10개의 문자열 중의 오른쪽에 문자를 넣음
print("{0:>10}".format("hi"))
# :< -> 왼쪽 정렬
# :> -> 오른쪽 정렬

#가운데 정렬
print("{0:^10}".format("hi"))

#공백 채우기
print("{0:!>10}".format("hi"))
#문자를 오른쪽에 넣고 공백에 !를 넣음
print("{0:-^10}".format("hi"))
#문자를 가운데 넣고 공백에 -를 넣음

hi        1
        hi
    hi
!!!!!!!!hi
----hi----

In [168]:
#소수점 표현하기
y=3.412123123
print("{0:0.4f}".format(y))
#0번째 자리 부터 소수점 네자리 숫자 반환
print("{0:10.4f}".format(y))
#길이 10을 가진 숫자에서 소수점 네자리까지만 갖는 숫자와 공백을 반환
print("{0:<10.4f}".format(y))
#왼쪽 정렬

3.4121
    3.4121
3.4121

In [174]:
#{ 또는 } 문자 표현하기
"{{ and }}".format()

'{ and }'